<div class="splitcontentright">
	<p class="contextual"><%= link_to_go_back %></p>
	<p>
		<%= render :partial => "systango_hrm_employee_leaves/my_page"%>
	</p>
	<p class="contextual"><%= link_to_go_back %></p>
</div>

<div class="splitcontentleft">
	<%= render :partial => "systango_hrm_employee_leaves/hr_hook"%>
</div>
